[submodule "stesi/gles_pkgimpr"]
	path = stesi/gles_pkgimpr
	url = git@github.com:stesi/gles_pkgimpr.git
	branch = 14.0

[submodule "stesi/stesi_stock"]
	path = stesi/stesi_stock
	url = git@github.com:stesi/stesi_stock.git
	branch = 14.0

[submodule "stesi/stock-logistics-warehouse"]
	path = stesi/stock-logistics-warehouse
	url = git@github.com:stesi/stock-logistics-warehouse.git
	branch = 14.0-mig-stock_mts_mto_rule

[submodule "OCA/wms"]
	path = OCA/wms
	url = git@github.com:OCA/wms.git
	branch = 14.0

[submodule "OCA/product-attribute"]
	path = OCA/product-attribute
	url = git@github.com:OCA/product-attribute.git
	branch = 14.0

[submodule "OCA/stock-logistics-workflow"]
	path = OCA/stock-logistics-workflow
	url = git@github.com:OCA/stock-logistics-workflow.git
	branch = 14.0

[submodule "OCA/server-auth"]
	path = OCA/server-auth
	url = git@github.com:OCA/server-auth.git
	branch = 14.0

[submodule "OCA/server-tools"]
	path = OCA/server-tools
	url = git@github.com:OCA/server-tools.git
	branch = 14.0
